
*.index

Assignment1/Services/Servers/Pivotal tc Server Developer Edition v3.2-config/catalina.policy

*.properties

Assignment1/Services/Servers/.project

*.ini

*.ini

*.properties

Assignment1/Services/.metadata/.log

Assignment1/Services/.metadata/.log

*.index

*.index

Assignment1/Services/.metadata/.plugins/org.eclipse.core.resources/.projects/getting-started-master/.location

Assignment1/Services/RemoteSystemsTempFiles/.project

*.access

*.index

Assignment1/Server/SgaApi/SgaApi/bin/Debug/netcoreapp1.1/SgaApi.dll

Assignment1/Server/SgaApi/SgaApi/bin/Debug/netcoreapp1.1/SgaApi.pdb

Assignment1/Server/SgaApi/SgaApi/obj/Debug/netcoreapp1.1/SgaApi.csproj.CoreCompileInputs.cache

Assignment1/Services/Square/.gitignore.swp

*.dll

*.dll

*.dll

*.pdb

*.json

*.props

*.targets

*.json

*.dll
