
*.index

Assignment1/Services/Servers/Pivotal tc Server Developer Edition v3.2-config/catalina.policy

*.properties

Assignment1/Services/Servers/.project

*.ini

*.ini

*.properties

Assignment1/Services/.metadata/.log

Assignment1/Services/.metadata/.log

*.index

*.index

Assignment1/Services/.metadata/.plugins/org.eclipse.core.resources/.projects/getting-started-master/.location

Assignment1/Services/RemoteSystemsTempFiles/.project

*.access

*.index
